# Import Modules

In [1]:
import numpy as np
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt

import utils.helper as uh

In [2]:
data_dir = './data'

datafile = os.path.join(data_dir, 'DataAnalyst.csv')

df = pd.read_csv(datafile, index_col=0)

In [3]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),Weâ€™re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1
2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",-1
2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1,-1,-1,-1
2251,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),-1,-1
2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",-1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2253 entries, 0 to 2252
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          2253 non-null   object
 1   Salary Estimate    2253 non-null   object
 2   Job Description    2253 non-null   object
 3   Rating             2253 non-null   float64
 4   Company Name       2252 non-null   object
 5   Location           2253 non-null   object
 6   Headquarters       2253 non-null   object
 7   Size               2253 non-null   object
 8   Founded            2253 non-null   int64
 9   Type of ownership  2253 non-null   object
 10  Industry           2253 non-null   object
 11  Sector             2253 non-null   object
 12  Revenue            2253 non-null   object
 13  Competitors        2253 non-null   object
 14  Easy Apply         2253 non-null   object
dtypes: float64(1), int64(1), object(13)
memory usage: 281.6+ KB

# Data Wrangling

In [5]:
df_cleaned = df.copy()

In [6]:
column_names_dict = {
    'Job Title': "job_title",
    'Salary Estimate': "salary_estimate",
    'Job Description': "job_description",
    'Rating': "rating",
    'Company Name': "company_name",
    'Location': "location",
    'Headquarters': "headquaters",
    'Size': "size",
    'Founded': "founded",
    'Type of ownership': "type_of_ownership",
    'Industry': "industry",
    'Sector': "sector",
    'Revenue': "revenue",
    'Competitors': "competitors",
    'Easy Apply': "easy_apply"
}

df_cleaned.rename(columns=column_names_dict, inplace=True)

In [7]:
df_cleaned.dropna(inplace=True)

In [8]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2252 entries, 0 to 2252
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   job_title          2252 non-null   object
 1   salary_estimate    2252 non-null   object
 2   job_description    2252 non-null   object
 3   rating             2252 non-null   float64
 4   company_name       2252 non-null   object
 5   location           2252 non-null   object
 6   headquaters        2252 non-null   object
 7   size               2252 non-null   object
 8   founded            2252 non-null   int64
 9   type_of_ownership  2252 non-null   object
 10  industry           2252 non-null   object
 11  sector             2252 non-null   object
 12  revenue            2252 non-null   object
 13  competitors        2252 non-null   object
 14  easy_apply         2252 non-null   object
dtypes: float64(1), int64(1), object(13)
memory usage: 281.5+ KB

In [9]:
df_cleaned['salary_estimate'] = df_cleaned['salary_estimate'].str.split('(').str[0].str.strip()

In [10]:
indice_to_remove = df_cleaned.query('salary_estimate == "-1"').index

df_cleaned.drop(indice_to_remove, inplace=True)

In [11]:
salary_counts = df_cleaned['salary_estimate'].value_counts()

In [12]:
indice_to_remove = df_cleaned.query('rating == "-1"').index

df_cleaned.drop(indice_to_remove, inplace=True)

# Data Visualization

In [13]:
current_palette = sns.color_palette("colorblind")

sns.set_palette(current_palette)

base_color=current_palette[0]

In [ ]:
plt.rcParams['figure.figsize'] = (21, 21)

sns.countplot(y="salary_estimate", data=df_cleaned, color=base_color, order=salary_counts.index)

In [ ]:
plt.rcParams['figure.figsize'] = (8, 8)

bins = np.arange(1, 5+0.5, 0.5)

plt.hist(df_cleaned['rating'], color=base_color, bins=bins)

plt.xticks(bins)

plt.show()

In [ ]:
heatmap1_data = pd.pivot_table(df_cleaned, values='rating', 
                     index=['salary_estimate'])
                    

sns.heatmap(heatmap1_data, vmin=4, cmap="vlag")

plt.show()

# Predict salary based on industry, location, company revenue

In [ ]:
df_new = df_cleaned.copy()

## I. Data Wrangling

In [ ]:
row_to_remove = df_new.query('industry == "-1"').index

df_new.drop(row_to_remove, inplace=True)

In [ ]:
row_to_remove = df_new.query('revenue == "Unknown / Non-Applicable"').index

df_new.drop(row_to_remove, inplace=True)

In [ ]:
df_new['revenue'].unique()

In [ ]:
df_new['revenue'] = df_new['revenue'].str.split('(').str[0].str.strip().str.replace('$', '')

In [ ]:
df_new['revenue'].unique()

In [ ]:
processed_revenue = df_new['revenue'].apply(uh.process_revenue)

In [ ]:
df_new['min_revenue'], df_new['max_revenue'] = processed_revenue.str[0], processed_revenue.str[1]

In [ ]:
df_new